body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FF5722;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

